.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
  min-height: 11.125rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.header__logo {
  position: relative;
  z-index: 10;
  font-family: Oswald, serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 83.333333%; /* 30/36 */
  letter-spacing: 0.144rem;
  color: #ffffff;
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  column-gap: 3.75rem;
  row-gap: 1.25rem;
}
.menu__item {
}
.menu__link {
  position: relative;
  font-family: Oswald, serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%; /* 21/14 */
  letter-spacing: 0.1212rem;
  color: #ffffff;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  right: 0;
  width: 1.125rem;
  height: 0.125rem;
  background-color: #4caf50;
  transition: all 0.3s;
}
.menu__link:hover::before {
  width: calc(100% + 0.5rem);
}
.menu__icon {
}
.icon-menu {
  display: none;
}
.icon-menu__line {
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 7.5rem;
  }  
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 4.6875rem;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #333333;
    transition: left 0.3s;
    overflow: auto;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    padding-top: 7.5rem;
    gap: 3.125rem;
  }
  .menu__link {
    font-size: 1.875rem;
  }
  .menu__link::before {
    height: 0.1875rem;
    width: 2.1875rem;
  }
  .icon-menu {
    position: relative;
    display: block;
    height: 1.125rem;
    width: 1.875rem;
    z-index: 10;
  }
  .icon-menu::before,
  .icon-menu::after,
  .icon-menu__line {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
    transition: all 0.3s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu__line {
    top: calc(50% - 0.0625rem);
  }
  .icon-menu::after {
    bottom: 0;
  }
  .menu-open .header__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 8;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu__line {
    left: 50%;
    width: 0;
  }
  
}
